/* *Get the font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* *Here we can give any name as font family name but the same should be used on elements like <body> while accessing the font */
  font-family: Roboto;
  src: url("./Font/Roboto-Light.ttf");
  /* *In the below example the first one is not working then the browser will take the second one specified */
  /* src:url("./font/arial-regular.woff2") format("woff2"),url("./font/arial-regular.woff") format("woff"); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  /* *For some reason if the custom font is not working, then we need to specify another font which is supported by most of the browsers */
  font-family: Roboto, sans-serif;
}
