header,
#footer {
  background-color: #800080;
}

.header-text,
#footer {
  color: #fff;
  text-align: center;
}

.article-title {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.article-date {
  font-style: italic;
}

.article-date,
.article-author {
  color: #849488;
}
