.div {
  background-color: red;
  height: 100px;
  width: 100px;
  color: white;
  animation-name: custom;
  animation-delay: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;

  /* * Transform property */
  /* * Transform is a bunch of functions */
  /* transform: scale(0.5); */
  /* *We can also scale it in X-direction and Y-direction */
  /* transform: scale(1, 1.25); */
  /* * We can also use scaleX(1) and scaleY(1.25) */
  /* transform: scaleX(1) scaleY(1.25); */

  /* * rotate() */
  /* * So in this case the box has rotated 90 degrees */
  /* transform: rotate(90deg); */
  /* transform: rotate(0.75turn); */
  /* transform: rotate(0.65rad); */

  /* *translate -> move an element  */
  /* * translate(x-direction,y-direction) */
  transform: translate(100px, 50px);
}

.div:hover {
  animation-play-state: paused;
}

@keyframes custom {
  from {
  }
  to {
  }
}
