.parent {
  padding: 0.25rem;
  background-color: #87cefa;
}

.child1 {
  padding: 0.25rem;
  background-color: #f08080;
}

.child2 {
  padding: 0.25rem;
  background-color: #90ee90;
}
.child3 {
  padding: 0.25rem;
  background-color: #cd853f;
}
